@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
    --color_primario: #8527c3fd;
    --color_primario_suave: rgba(234,105,139);
    --color_blanco: #fff;
    --altura_header: 90px;
    --padding_left_right: 8.6rem;
    --ancho_maximo: 1200px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0a0a0a;
    position: relative;
    /*font-family: 'Koulen', cursive;*/
    /*font-family: 'Poppins', sans-serif; */
}

a{
    text-decoration: none;
}
ol, ul{
    list-style: none;
}
.barra{
    height: 2px;
    background: rgb(151,58,168);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    padding-top: 2px;
    position: relative;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 var(--padding_left_right);
}
.menu_hamburguesa{
    display: none;
    color: #f8f6e9;
}
.menu_hamburguesa:checked + .ul_links{
    height: calc(50vh - var(--altura_header))
}
.logo img{
    width: 300px;
}

.list_icon {
    color: var(--color_blanco);
    cursor: pointer;
}
.ul_links {
    width: 25%;
    /*background-color: var(--color_primario_suave);*/
    background: rgb(151,58,168);
    position: absolute;
    top: var(--altura_header);
    right: 8.6%;
    overflow: hidden;
    /* height: calc(100vh - var(--altura_header));*/
    display: flex;
    height: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    transition: all .3s;
    z-index: 10;
}

.link {
    top: -10px;
    position: relative;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif; 
    color: #f8f6e9;
    font-weight: bold;
}


/*--------------------------------------------------------------------------------------*/

.texto1{
    padding: 4rem 40rem 1.5rem 8.6rem;
}
.texto1 h1{
    font-size: 5.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Koulen', sans-serif;
    line-height: 100px;
}
.texto1 p{
    font-size: 1.52rem;
    color: white;
    font-weight: lighter;
    font-family: "Consolas", "Courier New", monospace;
    padding-top: 0.5rem;
}
.boton{
    padding: 0rem 8.6rem 6rem 8.6rem;
}
.btn {
    border: none; 
    padding: 8px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-family: 'Koulen', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.inscribete {
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    color: #f8f6e9;
    

} 
.inscribete:hover {
    background-color: #f8f6e9; border: 1.7px solid rgb(151,58,168);
    background: #f8f6e9;
    color: rgb(151,58,168);
}

.imagen1 {
    position: absolute;
    top: 9.5rem; 
    left: 60rem; 
}

.imagen1 img {
    height: 31rem;
    display: block;
    margin: 0 auto;
}

.lenguajes {
    width: 100%;
    position: absolute; 
    top: 45rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 19rem 0.9rem 19rem;
}
.barra1{
    height: 3px;
    background: rgb(151,58,168);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    position: relative;
    top: 2.8rem;
    z-index: 10;
}
.barra2{
    height: 3px;
    background: rgb(151,58,168);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    position: relative;
    top: -4rem;
}

.lenguajes img {
    height: 4.8rem;
}

.informacion{

    padding: 9rem 8.6rem 1.5rem 8.6rem;
}
.informacion h2{
    text-align: center;
    font-family: 'Koulen', sans-serif;
    font-size: 50px;
    color: white;

}
.Barra {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.BarraBusqueda input {
    padding: 1px 30px 1px 30px;
    font-size: 16px;
    border-color:  rgb(151,58,168);
    border-radius: 10px; 
    background-color: #0a0a0a;
}
.BarraBusqueda{
    padding: 10px 18px 10px 18px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color:  rgb(151,58,168);
    position: relative;
    right: -140px;
    top: -20px;

}
.BarraBusqueda img{
    height: 18px;
    position: relative;
    right: 7px;
    top: 3px;
}

.buscar{
    position: relative;
    top: 27px;
    right: -10px;
    font-family: 'Koulen', sans-serif;
    font-size: 1rem;
    letter-spacing: 1.5px;
}
.btn2 {
    border: none; 
    padding: 2px 28px; 
    cursor: pointer; 
    border-radius: 5px; 
    font-family: 'Koulen', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.inscribete2 {
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    color: #f8f6e9;
    

} 
.inscribete2:hover {
    background-color: #f8f6e9; border: 1.7px solid rgb(151,58,168);
    background: #f8f6e9;
    color: rgb(151,58,168);
}


.contenedor{
    padding-left: 8.6;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen2{

    width: 50%;
}
.informacionC{
    width: 50%;
}
.informacionC p{
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1rem;
    color: white;
}
.informacionC h3{
    font-family: "Consolas", "Courier New", monospace;
    color: white;
}
.caja{
    display: flex;
    position: relative;
    flex-direction: column;
}
.imagenes img{
    width: 95px;
    height: 75px;
}
.imagenes{
    width: 22%;
    padding-bottom: 100px;
    padding-left: 30px;

}

.parrafo{
    position: absolute;
    display: block;
    flex-direction: column;
    left: 145px;
    padding-bottom: 20px;
}

.imagen2{

    justify-content: center;
    align-items: center;
}
.imagen2 img{
    width: 460px;
    position: relative;
    top: -55px;
}

.barra3 {
    height: 3px;
    background: rgb(151,58,168);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    position: relative;
    top: 0.1rem;

}


/**/
.container{
    position: relative;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding-left: 8.6rem;
    padding-right: 8.6rem;
}

.cuadrado{
    background-color: white;
    border-radius: 20px;
    padding: 25px 40px;
    position: relative; 
    box-sizing: border-box; 
    top: 120px;
}


.cursos h2{
    padding-top: 50px;
    font-family: 'Koulen', sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}
.cuadrado h4{
    font-family: 'Koulen', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.infoCurso h4{
    font-family: 'Koulen', sans-serif;
    color: black;
}
.cuadrado p{
    font-family: "Consolas", "Courier New", monospace;
}
.imagenCurso {
    position: relative;
    bottom: 100px;
    background-color: white;
    border-radius: 20px;
    background-image: url('img/Logica.png');
    background-size: cover; 
    background-position: 0px -20px; 
    background-repeat: no-repeat;
    width: 100%; 
    height: 250px; 
}
.imagenCursoF {
    position: relative;
    bottom: 100px;
    background-color: white;
    border-radius: 20px;
    background-image: url('img/Frontend.png');
    background-size: cover; 
    background-position: 0px -20px; 
    background-repeat: no-repeat;
    width: 100%; 
    height: 250px; 
}
.imagenCursoB {
    position: relative;
    bottom: 100px;
    background-color: white;
    border-radius: 20px;
    background-image: url('img/backend.png');
    background-size: cover; 
    background-position: 0px -20px; 
    background-repeat: no-repeat;
    width: 100%; 
    height: 250px; 
}

.caja2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: -80px;
}

.calificacion{
    background-color: rgb(155, 102, 164);
    padding: 1px 10px;
    border-radius: 10px;
}
.tituloCurso{
    background-color: rgb(155, 102, 164);
    padding: 0px 50px;
    border-radius: 10px;
}
.tituloCursoF{
    background-color: rgb(155, 102, 164);
    padding: 0px 100px;
    border-radius: 10px;
}
.tituloCursoB{
    background-color: rgb(155, 102, 164);
    padding: 0px 100px;
    border-radius: 10px;
}

.calificacion img{
    width: 20px;
}

.infoCurso{
    margin-top: 12px;
}

.divisor{
    position: relative;
    top: 35px;
    background-color: rgb(151,58,168);
    padding: 1.5px 0;
}

.lecciones{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    padding-top: 40px;
    gap: 10px;
}
.lecciones p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}
.lecciones img{
    width: 30px;
}

.barra4 {
    height: 3px;
    background: rgb(151,58,168);
    background: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);
    position: relative;
    top: 13.5rem;

}
.footer{
    position: absolute;
    left: 14rem;
    right: 14rem;
    top: 158.25rem;
    text-align: center;
    height: 120px;
}
.redes img{
    width: 300px;
}
.footer p{
    font-family: "Consolas", "Courier New", monospace;
    font-size: 17px;
    color: rgb(151,58,168);
    color: linear-gradient(90deg, rgba(151,58,168,1) 15%, rgba(234,105,139,1) 85%);;
}